<%= simple_form_for @listing do |f| %>
  <%= f.label :name, 'Name' %>
  <%= f.input :name, label: false%>
  <%= f.label :description, 'Description (min. 10 char)' %>
  <%= f.input :description, label: false%>
  <%= f.label :price, 'Price' %>
  <%= f.input :price, label: false%>
  <%= f.label :equipment_type, 'Equipment' %>
  <%= f.input :equipment_type, label: false, collection: Listing::TYPE %>
  <%= f.label :location, 'Location (city)' %>
  <%= f.input :location, label: false %>
  <%= f.input :photo, as: :file %>
  <div class="d-flex justify-content-between align-items-center btn">
    <%= link_to icon('fas', 'times', "Cancel"), listings_path, class: "btn" %>
    <%= f.submit %>
  </div>
<% end %>
