<header>
  <div class="container" justify-content-center>
    <h1>Here are all the listings!</h1>
  </div>
</header>

<main>
  <div class="container" >
    <div class="row">
      <% @listings.each do |listing| %>
        <div class="col col-sm-6 col-lg-3">
          <%= link_to listing_path(listing) do %>
            <div class="card">
              <%= cl_image_tag listing.image.key, class: "card-img-top" %>
              <h4><%= listing.name %> | €<%= listing.price %></h4>
              <p><%= listing.description %> </p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to icon('fas', 'plus'), new_listing_path %>
  </div>
</main>

