<header>
  <div class="container" justify-content-center>
     <h1>
       <% if @search %>
        <%= "Available listings in #{params[:search]["location"]}" %>
       <% else %>
        <%= "All available listings" %>
       <% end %>
    </h1>

  </div>
</header>

<br>

<main>

  <div class="container" >
    <%= simple_form_for :search, url: listings_path, method: "GET" do |f| %>
      <div class="search-form-control form-group">
        <%= f.input :location, input_html: {value: "" , class: "form-control string required", autocomplete: "off"  }, placeholder: "search for another location", type:"text", name:"search[query]", id:"search_query", label: false %>
        <%= button_tag type: "submit", id: "search_btn" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
    <br>

    <div class="row">
      <% @listings.each do |listing| %>
        <div class="col col-sm-6 col-lg-4">
          <%= link_to listing_path(listing) do %>
            <div class="card-trip" id="listing_card">
              <% if listing.photo.attached? %>
                <%= cl_image_tag listing.photo.key %>
              <% else %>
                <%= image_tag(listing.listing_photo)%>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= listing.name %> | <%= listing.location %></h2>
                  <p><%= listing.description %></p>
                </div>
                <h2 class="card-trip-pricing">€<%= listing.price %></h2>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="map" class="mt-5"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


</main>
