<h1> All your listings: </h1>

<% @listings.each do |listing| %>
  <%= listing.name %>
<% end %>

<main>
  <div class="container" >
    <div class="row">
      <% @listings.each do |listing| %>
        <div class="col col-sm-6 col-lg-4">
          <%= link_to listing_path(listing) do %>
            <div class="card-trip">
              <% if listing.photo.attached? %>
                <%= cl_image_tag listing.photo.key %>
              <% else %>
                <%= image_tag(listing.listing_photo)%>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= listing.name %> | <%= listing.location %></h2>
                  <p><%= listing.description %></p>
                </div>
                <h2 class="card-trip-pricing">€<%= listing.price %></h2>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</main>