<div class="container mt-5" justify-content-center>
    <h1><%= current_user.first_name %>, here are all your listings: </h1>
</div>

<main>
  <div class="container" >
    <div class="row">
      <% @listings.each do |listing| %>
        <div class="col-6">
            <div class="card-trip">
              <% if listing.photo.attached? %>
                <%= cl_image_tag listing.photo.key %>
              <% else %>
                <%= image_tag(listing.listing_photo)%>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= listing.name %> | <%= listing.location %> | €<%= listing.price %></h2>
                  <p><%= listing.description %></p>
                  <hr>
                  <p class="text-danger">Reservations for this listing: </p>
                  <% listing.reservations.each do |reservation| %>
                    <p>From <%= reservation.starts_at %> till <%= reservation.ends_at %></p>
                  <% end %>
                </div>
                <div class="d-flex align-items-start">
                  <%= link_to icon('fas fa-edit', "Edit"), edit_listing_path(listing), class: "btn pt-0 pr-0 text-muted" %>
                  <%= link_to icon('fas fa-trash', 'Delete'), listing_path(listing), method: :delete, data: { confirm: "Are you sure you want to completely delete #{listing.name}?"}, class: "btn pt-0 pr-0 text-muted" %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
