<div class="container">
  <div class="row align-items-center mb-3">
    <div class="col-2">
      <p><%= link_to icon('fas', 'chevron-left', "Back"), :back, class: "btn" %></p>
    </div>
    <div class="col-8">
      <h1 class="text-center"><strong><%= @listing.name %></strong></h1>
    </div>
    <div class ="showBtn col-2">
        <%= link_to icon('fas fa-edit', "Edit"), edit_listing_path(@listing),class: "btn btn-flat"%>
        <%= link_to icon('fas fa-trash', 'Delete'), listing_path, method: :delete, class: "btn btn-flat" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <% if @listing.photo.attached? %>
        <%= cl_image_tag @listing.photo.key, class: "img-responsive", width: "100%" %>
      <% else %>
        <%= image_tag(@listing.listing_photo, class: "img-responsive", width: "100%") %>
      <% end %>
    </div>
    <div class="listing-info col-6">
      <p><%= icon('fas', 'map-marker-alt') %> <%= @listing.location %></p>
      <p><strong><%= @listing.price %>€</strong></p>
      <p><%= @listing.description %></p>
      <p><%= @listing.equipment_type %></p>
      <div class="reservation-box">
        <h2>Reserve now:</h2>
        <%= simple_form_for :search, method: "get" do |f| %>
          <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker", id: "range_start"} %>
          <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker", id: "range_end"} %>
          <%= f.button :submit, "Reserve", class: "btn" %>
        <% end %>
      </div>


    </div>
  </div>
</div>
