<div class="container">
  <div class="col-xs-1" align="center">
    <h1><strong><%= @listing.name %></strong></h1>
    <p><%= link_to "Back", listings_path %></p>
<!--     <p><%= link_to 'Back', :back%></p> -->
    <div class="text-left">
      <p><%= @listing.name %></p>
      <p><%= @listing.description %></p>
      <p><%= @listing.price %></p>
      <p><%= @listing.equipment_type %></p>
      <p><%= @listing.location %></p>
      <%= cl_image_tag @listing.image.key %>
    </div>
  </div>
</div>


