<header>
  <div class="container" justify-content-center>
     <h1> All your reservations <%= current_user.first_name %>: </h1>
  </div>
</header>

<main>
  <div class="container">
      <% @reservations.each do |myreservation| %>
        <div class="card">
          <%= icon('fas', 'calendar-alt') %> From <%= myreservation.starts_at %> to <%= myreservation.ends_at %>
          Booked from user: <%= myreservation.user_id %>
        </div>
      <% end %>
  </div>
</main>
