<header>
  <div class="container" justify-content-center>
     <h1> <%= current_user.first_name %>, here are all your reservations: </h1>
  </div>
</header>

<main>
  <div class="container">
      <% @reservations.each do |myreservation| %>
        <div class="card-trip p-4">
          <div class="card-product-infos">
            <p><%= icon('fas', 'calendar-alt') %> From <%= myreservation.starts_at %> to <%= myreservation.ends_at %></p>
            <p>Owner: <%= myreservation.user_id %></p> 
            <p> Listing: <%= myreservation.listing_id %></p>
          </div>
        </div>
      <% end %>
  </div>
</main>
