<div class="container text-center">
  <h1 class="d-inline"> Your Profile </h1> <%= link_to icon('fas fa-edit', "Edit"), edit_user_path(current_user), class: "btn pt-0 pr-0 text-muted" %>
  <div>
    <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, class: "avatar-large" %>
    <% else %>
      <img src="https://medgoldresources.com/wp-content/uploads/2018/02/avatar-placeholder-300x300.gif" alt="user-avatar" class="avatar-large">
    <% end %>
  </div>
  <p> <strong>Name:</strong>  <%= @user.first_name %> </p>
  <p> <strong>Email:</strong>  <%= @user.email %> </p>
  <p> <strong>Phone number:</strong> <%= @listing.user.phone_number %> </p>
</div>
