<!-- LOGIC for this -->

<!-- on this page will be shown the confirmation of the reservation -->
<!-- so the confirmation in in the show and not in the new in reservations, because new is always the for  -->
<!-- and we have the form in listings/id -->
<!-- we need to redirect to the listing show so we can display the listings and the reservation in one show -->
<!-- in the listing show the reserrvation data is available thanks to the definition in the lisitngs show controller -->

<!-- be careful -> the presentation schema has changed, now we are using 2 dates and not one -->


<!-- there should be something like destroy or proceed -->


<!-- <p>listing id: <%= @listing.id %> </p>
<p>reservation id: <%= @reservation.id %> </p>
 -->


<div class="container">
  <div class="row align-items-center mb-3">
    <div class="col-2">
    </div>
    <div class="col-8 mt-5">
      <h1 class="text-center"><strong>Reservation confirmed ✅</strong></h1>
      <h2 class="text-center">Camper: <%= @listing.name %></h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <% if @listing.photo.attached? %>
        <%= cl_image_tag @listing.photo.key, class: "img-responsive", width: "100%" %>
      <% else %>
        <%= image_tag(@listing.listing_photo, class: "img-responsive", width: "100%") %>
      <% end %>
    </div>
    <div class="listing-info col-4">
      <p><%= icon('fas', 'map-marker-alt') %> <%= @listing.location %></p>
      <p><strong><%= @listing.price %>€</strong></p>
      <p><%= icon('fas', 'hashtag') %> <%= @listing.equipment_type %></p>
      <p>booked from: <strong><%= @reservation.starts_at %></strong> to: <strong><%= @reservation.ends_at %></strong></p>
      <p><%= link_to "My Reservations", user_my_reservations_path(current_user),class: "btn", id: "btn-all" %></p>
    </div>
  </div>
</div>
